.App {
  text-align: center;
}
form .input-block {
  margin-top: 20px;
}

form .input-block label {
  color: #acacac;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

form .input-block input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

form .input-block .radio-group {
  font-size: 12px;
  font-weight: bold;
  display: inline;
  padding: 15px;
}

form .input-block .radio-group label {
  padding: 2px;
  display: inline;
}

form #importance {
  margin-bottom: 10px;
}

form input[type="submit"] {
  margin-top: 30px;
  width: 100%;
  color: white;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#create {
  background: blue;
}

#edit {
  background: #ffc107;
}
